<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<system.data>
		<DbProviderFactories>
			<add name="My Sqlite Data Provider" invariant="Sqlite" description=".Net Framework Data Provider for Sqlite Engine" type="Community.CsharpSqlite.SQLiteClient.SqliteClientFactory, Community.CsharpSqlite.SQLiteClient, Version=3.7.7.1, Culture=neutral, PublicKeyToken=0f828bcaf55a97b5" />
			<add name="EffiProz Data Provider" invariant="EffiProz" description=".Net Framework Data Provider for EffiProz Engine" type="System.Data.EffiProz.EfzFactory, Core, Version=1.6.5430.15877, Culture=neutral, PublicKeyToken=8a298a6d03416a89" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="MyConnectionString" connectionString="Connection Type=file; Initial Catalog=./my.database.1.effiproz; User=sa; Password=;" providerName="EffiProz" />
		<add name="MyConnectionString_EffiProz2" connectionString="Connection Type=Memory; Initial Catalog=testadob; User=sa; Password=;" providerName="EffiProz" />
		<add name="MyConnectionString_Sqlite" connectionString="Data Source=file:mydatafile;Version=3;New=True;" providerName="Sqlite" />
	</connectionStrings>
	<appSettings>
		<add key="Query_EffiProz1" value="CREATE TABLE mytesttable(field_id INT, field_name VARCHAR(30));" />
		<add key="Query_EffiProz2" value="INSERT INTO mytesttable(field_id, field_name) VALUES(1,'irantha'); INSERT INTO mytesttable(field_id, field_name) VALUES(2,'nuwan');" />
		<add key="Query" value="SELECT * FROM mytesttable;" />
		<add key="Query_Sqlite" value="PRAGMA database_list;" />
	</appSettings>
</configuration>
