<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="system.data" type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
	</configSections>
        <startup>
                <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
        </startup>
        <system.data>
                <DbProviderFactories>
                        <add name="My Sqlite Data Provider" invariant="Sqlite" description=".Net Framework Data Provider for Sqlite Engine" type="Community.CsharpSqlite.SQLiteClient.SqliteClientFactory, Community.CsharpSqlite.SQLiteClient, Version=3.7.7.1, Culture=neutral, PublicKeyToken=0f828bcaf55a97b5" />
                </DbProviderFactories>
        </system.data>
        <connectionStrings>
                <add name="MyConnectionString" connectionString="Data Source=file:mydatafile;Version=3;New=True;" providerName="Sqlite" />
        </connectionStrings>
	<appSettings>
		<add key="Query" value="PRAGMA database_list;" />
	</appSettings>
</configuration>